<style>
                    @media print {
                      body * {
                        visibility: hidden;
                      }
                      .print-container, .print-container *{
                        visibility:visible
                      }
                      .print-container {
                        background-color: white;
                        height: 100%;
                        width: 100%;
                        position: fixed;
                        top: 0;
                        left: 0;
                        margin: 0;
                        padding: 15px;
                        font-size: 30px;
                        line-height: 18px;
                      }
                    }
                  </style>
                
<style type="text/css">


    .tg {
        border-collapse: collapse;
        border-spacing: 7;
        border-color: #aaa;
        border-spacing: 0;
        
    }
    

    .tg td {
       
        background-color: #fff;
        border-color: #aaa;
        border-style: solid;
        border-width: 1px;
        color: #333;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg th {
        background-color: #aaa;
        border-color: #aaa;
        border-style: solid;
        border-width: 1px;
        color: #fff;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg .tg-fv77 {
        border-color: inherit;
        font-family: "Arial Black", Gadget, sans-serif !important;
        ;
        font-size: 25px;
        text-align: center;
        vertical-align: top
    
    }

    .tg .tg-0pky {
        border-color: ;
        text-align: center;
        vertical-align: top

    }

    .tg .tg-0lax {
        text-align: center;
        vertical-align: top
    }
    .tg .tg-yoze {
        background-color: #c0c0c0;
        border-color: inherit;
        font-style: italic;
        font-weight: bold;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-upbe {
        border-color: inherit;
        font-size: 12px;
        font-style: italic;
        font-weight: bold;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-4erg {
        border-color: inherit;
        font-style: italic;
        font-weight: bold;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-zndi {
        background-color: #c0c0c0;
        border-color: #010066;
        color: #010066;
        font-style: italic;
        font-weight: bold;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-1qbe {
        border-color: inherit;
        font-style: italic;
        font-weight: bold;
        text-align: left;
        vertical-align: bottom
    }

    .tg .tg-ncd7 {
        background-color: #ffffc7;
        border-color: inherit;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-3247 {
        border-color: inherit;
        font-family: Arial, Helvetica, sans-serif !important;
        ;
        font-style: italic;
        font-weight: bold;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-080q {
        background-color: #c0c0c0;
        border-color: inherit;
        font-style: italic;
        font-weight: bold;
        text-align: left;
        vertical-align: middle
    }

    .tg .tg-fb1n {
        background-color: #c0c0c036;
        border-color: #9b9b9b07;
        text-align: center;
        vertical-align: top
        font-style: inherit;
        font-size: 22px
    }
</style>